.seat {
    height: 50px;
    text-align: center;
    padding-top: 12px;
    border: #000 solid 1px;
}

.seat-occupied{
    background-color: red;
}
.seat-selected{
    background-color: yellow;
}
.seat-last{
    background-color: green;
}
.seat-info-occupied{
    background-color: red;
}
.seat-info-selected{
    background-color: yellow;
}
.seat-info-last{
    background-color: green;
}
.seat-info{
    border-radius: 100px;
    height: 25px !important;
    width: 25px !important;
    border: #ddd solid 1px !important;
}
.smoke-area{
    margin-top: 20px
}